.menu {
  background: var(--background);
  padding: 1.875em 1.25em;
  height: 100vh;
  max-width: 250px;
  width: 100%;
  overflow-y: auto;
  transition: left 300ms linear;

  @media (max-width: 800px) {
    position: absolute;
    top: 0;
    left: -250px;
    z-index: 100;

    &.active {
      left: 0;
    }
  }

  &.active {
    visibility: visible;
  }

  .menu_links {
    display: flex;
    flex-direction: column;
    grid-gap: 1.875em;
    margin-top: 1.25em;

    a {
      display: flex;
      align-items: center;

      &.active {
        span {
          border-bottom: 1px solid var(--text-primary);
        }
      }

      span {
        margin-left: 10px;
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        color: var(--text-primary);
        border-bottom: 1px solid transparent;
      }
    }
  }
}

.menu_backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  z-index: 50;
  background-color: rgba(32, 53, 72, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: opacity 300ms linear;

  &.active {
    visibility: visible;
    opacity: 1;
  }
}
